<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<style>
    .fa-android {
        font-size: 3em;
    }


    @media screen and (min-width: 642px) and (max-width:800px) {
        .main-content {
            width: 70%;
        }
    }

    .row>h2 {
        color: #008080;
    }

    .form__input {
        width: 100%;
        border: 0px solid transparent;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline: none;
        margin: 1.5em auto;
        transition: all .5s ease;
    }

    .form__input:focus {
        border-bottom-color: #008080;
        box-shadow: 0 0 5px rgba(0, 80, 80, .4);

    }

    .btn {
        transition: all .5s ease;

        border-radius: 10px;
        color: #008080;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #008080;


    }

    .form-control {
        border-radius: 5px;
    }

    .btn:hover,
    .btn:focus {
        background-color: #008080;
        color: #fff;
    }
</style>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-12">
                <h4 class="page-title">Add product</h4>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- row -->

        <div class="col-md-12">

            <div class="white-box">

                <form action="/admin/add-product" method="POST" enctype="multipart/form-data" class="container p-5">
                    <div class="row">

                        <div class="col-lg-6" style="max-width: 30em; ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">PRODUCT</label>
                                <input type="text" class="form-control" name="product" placeholder="product" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">QUANTITY</label>
                                <input type="text" class="form-control" name="quantity" placeholder="quantity" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">PRICE</label>
                                <input type="number" class="form-control" name="price" placeholder="price" required>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">FLAVOUR</label>
                                <input type="text" class="form-control" name="flavour" placeholder="flavour" required>
                            </div>
                        </div>

                        <div class="col-md-6" style="max-width: 30em;">
                            <div class="form-group">
                                <label for="">IMAGE 1</label>
                                <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
                                {{!-- <div id="preview1"></div> --}}
                                <input type="file" name="image1" id="file1" class="form-control">
                            </div>
                           
                            <button type="submit" style="float: right;" id="confirm-btn" class="btn btn-success mt-4 ">Submit</button>
                        </div>
                    </div>
                </form>
                <div style="width: 500px; height: auto;" id="image-box"></div>
                <button style="display: none;" id="crop-btn">Crop</button>
            </div>
        </div>
    </div>

    <!-- /.row -->
</div>
<!-- /.container-fluid -->
</div>
