

    <style>
        .order {
            width: 100%;
            font-size: large;
            font-weight: 400;
            color: #fff !important;
            border-radius: 0.7rem;
            padding: 1rem;
            margin-bottom: 20px;
        }

        .icons{
            border-bottom: none !important;
        }
    </style>

    <section class="blogs" id="blogs">
        <div class="box-container">
									{{#each products}}

            <div class="box">
                <img src="http://e-commerce-app-demo.herokuapp.com/images/product-1.png" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"><h3>{{this.product}}</h3></a>
                        <a href="#"> <i class="fas fa-rupee-sign"></i> {{this.price}} </a>
                    </div>
                                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success order"><b>Add To Cart</b></a>

                </div>
            </div>
         
           
									{{/each}}

        </div>
    </section>

