<div class="colummmm">
<a href="/">home</a>
<a href="/">fish big</a>
<a href="/">profile</a>
<a href="/">track order</a>
<a href="/">user-login</a>
<a href="/">user-signup</a>
<a href="/">cart</a>
<a href="/">single product</a>
<a href="/">admin</a>
<a href="/">add product</a> 
</div>

<style>
    .colummmm{
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        font-weight: 600;
        width: 100vw;
        align-items: center;
        margin: 5rem;
    }
</style>